

<div id="navigation"></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
$.ajax({     
	type : "GET",     
    	url : '/bin/navigation.json',     
        data : {         
		path:"${properties.navigationRoot @context= 'scriptString'}"
        },     
        success : function(data) {   
		navigation(data);


        },     
        error : function(XMLHttpRequest, textStatus, errorThrown) {         
        document.getElementById("navigation").innerHTML = "<h2 style='text-align:center;'> Unalbe to Featch Data Please Check The logs </h2>";     
        } 
        });


function navigation(data){
    var mainLabels = data.result;
let mainlabel = "";
if (mainLabels != null) {
  for (var i = 0; i < mainLabels.length; i++) {
  var childLabels=mainLabels[i].nested;
  let childlabel="";
  if(childLabels !=null){
  let child="";
  for(var j=0;j<childLabels.length;j++){
  child=child+
      "<a href="+childLabels[j].path+".html"+">"+
      childLabels[j].title+"</a>";
  }
  childlabel="<div class='subnav-content'>" +child+"</div>"
  }

    mainlabel = mainlabel + "<div class='subnav'>" +
      "<button class='subnavbtn'>" +  "<a href="+mainLabels[i].path+".html"+">"+mainLabels[i].title +"</a>"+ " <i class='fa fa-caret-down'></i></button>" +
      childlabel +"</div>";
  }
}

let navigation= "<div class='navbar'>" +mainlabel + "</div>"
document.getElementById("navigation").innerHTML = navigation;   
}


</script>