.search{ 
  width:auto;
  margin:0px auto;
  text-align:center; 
    padding:15px 0 5px 0;
}
.search form input{
  height:20px;
  width:auto;
}
.search form button{
  height:26px;
  width:auto;
  background-color:white;
     border-radius:20px;
}


@media only screen and (max-width: 600px) {
.search {
position: relative;
    right: 145%;
    top: 100px;
}
#search-button{
            margin: 5px 0px 0px 60px;
        }

}