
.welcome.aem-GridColumn.aem-GridColumn--default--12 {
    margin-top: 64px;
}


.welcome{
  background-color:#c894f7;
  width:99%;
  height:50px;
display:block;
}
.welcome-text{
  margin:10px 10px 0 0;
  float:right; 
}
.welcome-date{
  text-align:center;
}
.w-text{
 position:relative;
  top:20px;
  left:40%;
  display:inline;
  text-align:center;
}

@media only screen and (max-width: 600px) {

.welcome.aem-GridColumn.aem-GridColumn--default--12 {
    margin-top: 190px;
}
.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--12 {
    width: 91%;
}

.w-text {
    left:0%;
    }




            }