<div id="rightbox" class="box">
    <form method="POST" action="/libs/granite/core/content/login.html/j_security_check">
        <div class="container">
            <label>Username : </label>
            <input type="text" placeholder="Enter Username" name="j_username" required />
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="j_password" required />
            <button type="submit">Login</button>
            <input type="checkbox" checked="checked" /> Remember me
            <button type="button" class="cancelbtn">Cancel</button>
            Forgot <a href="#"> password? </a>
        </div>
    </form>
</div>
